<h3 class="stats"> Estadísticas </h3>
<ul>
    <li class="stats">Preguntas: <%= stats.questions %></li>
    <li class="stats">Preguntas con comentarios: <%= stats.q_w_comments %></li>
    <li class="stats">Preguntas sin comentarios: <%= stats.q_x_comments %></li>
    <li class="stats">Comentarios: <%= stats.comments %></li>
    <li class="stats">Media de comentarios por pregunta: <%= stats.avg_comments %></li>
</ul>
